.products {
  &__list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
}

.product {
  display: flex;
  flex-direction: column;
  margin: 0 10px 1.25rem;

  .layout__2x2 & {
    width: calc(50% - 1.25rem);
  }

  .layout__3x3 & {
    width: calc(33.333% - 1.25rem);
  }

  &__image {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: 100%;

    &__wrapper {
      height: 31.25rem;
    }
  }

  &__meta {
    margin-top: auto;
  }
}
